body {
    margin:0;
    padding:0;
    background:black;
    color:white;
    text-align:center;
    font-family:Arial;
    overflow:hidden;
}

button {
    padding:10px 20px;
    margin:10px;
    font-size:18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

#yesBtn {
    background:red;
    color:white;
}

#noBtn {
    background:gray;
    color:white;
    position:absolute;
}

.slide {
    width:80%;
    max-height:400px;
    margin-top:20px;
    display:none;
}

#finalMessage {
    font-size:20px;
    margin-top:20px;
}
